* {
  box-sizing: border-box;
}

wc-nav-header {
  display: block;
  border: 1px solid black;
  padding-inline: 1rem;
  text-align: center;
}

.nav-header {
  display: flex;
  align-items: center;

  ul {
    flex-grow: 1;
    justify-content: end;
  }
}

.links-ctn {
  list-style: none;
  display: flex;
  gap: .2rem;

  li {}

  a {
    display: inline-block;
    padding: .4rem;
    text-decoration: none;
    color: black;
  }
}